<div class="container animated fadeIn fast">
  <div class="row">
    <div class="col">
      <br>
      <h1>Buscando: <small>{{termino}}</small></h1>
      <hr>

      <div class="row" *ngIf="heroes.length == 0">
        <div class="col-md-12">
          <div class="alert alert-info">
            No existen resultados con el termino {{termino}}.
          </div>
        </div>
      </div>

      <div class="card-columns">
          <app-heroe-tarjeta [index]="heroe.idx" [heroe]="heroe" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
      </div>
    </div>
  </div>
</div>